/* 
==========
Fonts 
==========
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* 
==========
Variable
==========
*/
:root {
  --white: #ffffff;
  --gray: #d3d6d8;
  --darkgreen: #1d282a;
  --black: #000000;
  --darkpest: #90a3b4;
  --sky: #04aadd;
  --darksky: #00a8db;
  --pest: #effbff;
  --darkblue: #005490;
  --deepblue: #034d82;
  --orange: orange;
  --clr-secondary: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  --DM-Sens: "DM Sans", sans-serif;
  --transition: all 0.3s linear;
  --radius: 0.5rem;
}

/* 
============
Global style
============
*/
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--DM-Sens);
}
h1,
h3,
h5 {
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
}
li {
  list-style: none;
}
li,
p {
  color: var(--darkpest);
  display: flex;
  flex-flow: column wrap;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--sky);
}

/* 
============
Common class 
============
*/
h1{
  color: var(--white);
  display: block;
  font-size: 34px;
}
h3 {
  font-size: 24px;
  color: var(--deepblue);
}
h5 {
  font-size: 16px;
  color: var(--white);
}
.container {
  max-width: 290px;
  margin: auto;
}
.main-logo {
  width: 70px;
}
.main-logo img {
  width: 100%;
}
.common-16,
a {
  font-size: 15px;
  font-weight: 400;
}
.common-14 {
  font-size: 13px;
  font-weight: 500;
}
button {
  border: none;
  background: none;
}
.common-btn {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
}
.common-btn a {
  color: var(--sky);
}
@media only screen and (min-width: 768px) {
  h1{
    font-size: 40px;
    display: flex;
  }
  h3 {
    font-size: 28px;
  }
  h5 {
    font-size: 18px;
  }
  .container {
    max-width: 620px;
  }
  .main-logo {
    width: 80px;
  }
  .common-16,
  a {
    font-size: 16px;
  }
  .common-14 {
    font-size: 14px;
  }
  .common-btn {
    width: 170px;
    height: 47px;
  }
}
@media only screen and (min-width: 1440px) {
  h1{
    font-size: 64px;
  }
  h3 {
    font-size: 36px;
  }
  h5 {
    font-size: 20px;
  }
  .container {
    max-width: 1160px;
  }
  .main-logo {
    width: 90px;
  }
  .common-btn {
    width: 204px;
    height: 57px;
  }
}
/* 
==========
Header
==========
*/
header {
  background-color: var(--darksky);
  position: relative;
}
.navber {
  background-color: var(--black);
  box-shadow: var(--light-shadow);
  padding: 15px 0px;
  width: 100%;
  position: absolute;
}
.fixed-nav {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--black);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-btn {
  color: var(--white);
  font-size: 17px;
  transition: all 0.25s linear;
}
.toggle-btn.rotate {
  transform: rotate(-90deg);
}
/* links */
.link-container {
  height: 0px;
  overflow: hidden;
  transition: var(--transition);
}
.link-container ul {
  margin-top: 10px;
}
.link-container ul button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 33px;
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  border-radius: 4px;
  color: white;
}
.link-container ul button a {
  color: var(--white);
}
.link-container ul li {
  margin-bottom: 5px;
  color: var(--white);
}
.link-container ul li a {
  color: var(--white);
}
/* show link */
.show-link {
  height: 190px;
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .navber {
    background-color: transparent;
    padding: 25px 0px 25px 0px;
  }
  .fixed-nav {
    background-color: var(--black);
    box-shadow: var(--light-shadow);
  }
  .navber .container {
    display: flex;
    justify-content: space-between;
  }
  .toggle-btn {
    display: none;
  }
  .link-container {
    height: auto;
  }
  .link-container .links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 0px;
    column-gap: 25px;
  }
  .link-container .links li {
    margin-bottom: 0px;
  }
  .link-container .links button {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1440px) {
  .navber {
    padding: 30px 0px;
  }
  .link-container .links {
    column-gap: 44px;
  }
  .link-container ul button {
    width: 95px;
    height: 38px;
  }
}
/* Main */
main{
  /* width: 100vw; */
  /* min-height: 110vh; */
  z-index: 1;
}
.main-overview{
  width: 550px;
  position: absolute;
  z-index: 3;
  bottom: -150px;
  right: 0px;
}
.main-overview img{
  width: 100%;
  height: 100%;
}
.main-wrap{
  width: 100%;
  min-height: 110vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.main-content{
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}
.faster img{
  margin-top: -10px;
  width: 90px;
  display: flex;
  flex-flow: column wrap;
}
.main-content p{
  display: block;
  color: var(--white);
}
.main-btn-wrap{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.main-btn-wrap .common-btn{
  width: 135px;
  height: 40px;
  color: var(--sky);
}
.main-btn-wrap a{
  display: flex;
  column-gap: 5px;
  color: var(--white);
}
.main-circle{
  display: none;
}
@media only screen and (min-width:768px) {
  .main-content{
    row-gap: 25px;
  }
  .main-content p{
    display: flex;
  }
  .faster img{
    width: 120px;
  }
  .main-btn-wrap{
    column-gap: 25px;
  }
  .main-btn-wrap a{
    column-gap: 10px;
  }
  .main-btn-wrap .common-btn{
    width: 170px;
    height: 47px;
  }
}
@media only screen and (min-width:1440px) {
  .main-wrap{
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  .main-content{
    row-gap: 32px;
  }
  .faster img{
    width: 185px;
    margin-top: -25px;
  }
  .main-btn-wrap{
    column-gap: 42px;
  }
  .main-btn-wrap .common-btn{
    width: 204px;
    height: 57px;
  }
  .main-circle{
    display: block;
    width: 432px;
    height: 432px;
    margin-top: -150px;
  }
  .main-circle img{
    width: 100%;
    height: 100%;
  }
}

/* 
==========
Web List 
==========
*/
#web-list {
  padding: 50px 0px;
}
#web-list .web-list-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 60px;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
}
.web-list-wrap li {
  width: 115px;
  height: 38px;
}
.web-list-wrap li:nth-child(1) {
  width: 132px;
}
.web-list-wrap li:nth-child(2) {
  height: 30px;
}
.web-list-wrap li:nth-child(4) {
  height: 36px;
}
.web-list-wrap li:nth-child(5) {
  height: 25px;
}
.web-list-wrap li img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  #web-list {
    padding: 70px 0px;
  }
  #web-list .web-list-wrap {
    row-gap: 30px;
    column-gap: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  #web-list {
    padding: 126px 0px;
  }
  #web-list .web-list-wrap {
    column-gap: 104px;
  }
}

/* 
===================
Measure Impressions 
===================
*/
#measure-impressions .container {
  padding: 50px 0px 90px 0px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#measure-impressions .img-wrap {
  width: 90%;
}
#measure-impressions .img-wrap img {
  width: 100%;
}
#measure-impressions .content {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}

@media only screen and (min-width: 768px) {
  #measure-impressions .container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px 150px 0px;
    background-image: url("./images/iPhone-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
  }
  #measure-impressions .img-wrap {
    width: 300px;
  }
  #measure-impressions .content {
    row-gap: 20px;
    width: 280px;
  }
  #measure-impressions .content h3 {
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 1440px) {
  #measure-impressions .container {
    padding: 80px 0px 230px 0px;
  }
  #measure-impressions .content {
    row-gap: 26px;
    width: 485px;
  }
  #measure-impressions .img-wrap {
    width: 460px;
  }
}

/*
==================
Schedule your post
==================
*/
#schedule-your-post {
  margin-bottom: 50px;
}
#schedule-your-post .container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}
#schedule-your-post .img-wrap {
  width: 100%;
  text-align: center;
}
#schedule-your-post .img-wrap img {
  width: 100%;
}
#schedule-your-post .content {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}
#schedule-your-post .content ul {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
#schedule-your-post .content ul li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 10px;
}
#schedule-your-post .content ul li img {
  height: 16px;
  width: 16px;
}

@media only screen and (min-width: 768px) {
  #schedule-your-post {
    margin-bottom: 90px;
  }
  #schedule-your-post .container {
    flex-flow: row wrap;
    align-items: center;
  }
  #schedule-your-post .img-wrap {
    order: 2;
    width: 320px;
  }
  #schedule-your-post .content {
    row-gap: 20px;
    width: 300px;
  }
  #schedule-your-post .content ul {
    row-gap: 14px;
  }
}
@media only screen and (min-width: 1440px) {
  #schedule-your-post {
    margin-bottom: 150px;
  }
  #schedule-your-post .container {
    align-items: start;
  }
  #schedule-your-post .img-wrap {
    width: 670px;
    height: 410px;
  }
  #schedule-your-post .content {
    row-gap: 26px;
    width: 490px;
  }
  #schedule-your-post .content ul {
    row-gap: 17px;
  }
}

/* 
=================
Track any hashtag
=================
*/
#track-any-hashtag {
  padding: 40px 0px;
  background-color: var(--pest);
}
#track-any-hashtag .heading-wrap p {
  color: var(--darkpest);
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  margin: 15px 0px 40px 0px;
}
#track-any-hashtag .cards-wrap {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#track-any-hashtag .cards-wrap .card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 25px;
  padding: 28px 32px 0px 28px;
  background-color: var(--white);
  border-radius: 8px;
}
#track-any-hashtag .cards-wrap .card:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.cards-wrap .card img {
  width: 56px;
  height: 56px;
}
.cards-wrap .card h5 {
  color: var(--deepblue);
}
#track-any-hashtag .card-wrap .card p {
  color: var(--darkpest);
}

@media only screen and (min-width: 768px) {
  #track-any-hashtag {
    padding: 55px 0px;
  }
  #track-any-hashtag .heading-wrap {
    text-align: center;
  }
  #track-any-hashtag .cards-wrap {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
  }
  #track-any-hashtag .heading-wrap p {
    margin: 20px 0px 60px 0px;
  }
}
@media only screen and (min-width: 1440px) {
  #track-any-hashtag {
    padding: 80px 0px;
  }
  #track-any-hashtag .cards-wrap {
    column-gap: 45px;
  }
  #track-any-hashtag .heading-wrap p {
    margin: 24px 0px 76px 0px;
  }
}

/* 
===================
Powering the growth
===================
*/
#powering-the-growth {
  padding: 60px 0px;
}
#powering-the-growth .container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#powering-the-growth .content {
  width: 100%;
}
#powering-the-growth .content h3 {
  margin-bottom: 10px;
}
/* review */
.reviews-wrap {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  row-gap: 25px;
}
.reviews-wrap .review .start-wrap {
  color: var(--orange);
  display: flex;
  align-items: end;
  column-gap: 10px;
}
.review .start-wrap img {
  width: 45px;
}
.reviews-wrap .review p {
  font-style: italic;
  margin: 10px 0px 15px 0px;
}
.review .person {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.review .person-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.review .person h5 {
  color: var(--darkblue);
}
.review .person p {
  font-style: normal;
  margin: 5px 0px 0px 0px;
}
.shift-btn-wrap {
  display: flex;
  column-gap: 10px;
}
.shift-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--darkblue);
  background-color: var(--gray);
}
.shift-btn:hover {
  color: var(--white);
  background-color: var(--darkblue);
}
.reviews-wrap .visible {
  display: none;
}
@media only screen and (min-width: 768px) {
  #powering-the-growth {
    padding: 110px 0px;
  }
  #powering-the-growth .container {
    row-gap: 50px;
  }
  #powering-the-growth .content {
    width: 445px;
  }
  #powering-the-growth .content h3 {
    margin-bottom: 15px;
  }
  /* review */
  .reviews-wrap {
    width: 540px;
    flex-flow: row wrap;
    align-items: end;
    justify-content: space-between;
  }
  .reviews-wrap .review {
    width: 75%;
  }
  .reviews-wrap .review .start-wrap {
    margin-left: -55px;
  }
  .review .start-wrap img {
    width: 45px;
  }
  .reviews-wrap .review p {
    margin: 15px 0px 20px 0px;
  }
  .review .person p {
    margin: 5px 0px 0px 0px;
  }
  .reviews-wrap .visible {
    display: flex;
  }
  .shift-btn-wrap {
    display: none;
  }
  .shift-btn {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  #powering-the-growth {
    padding: 170px 0px;
  }
  #powering-the-growth .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #powering-the-growth .content h3 {
    margin-bottom: 24px;
  }
  .shift-btn {
    width: 36px;
    height: 36px;
  }
}

/*
===============
Grow your brand
===============
*/
#grow-your-brand {
  padding-bottom: 60px;
}
#grow-your-brand .container {
  background: linear-gradient(
    270deg,
    rgba(2, 183, 216, 1) 0%,
    rgba(35, 206, 237, 1) 50%
  );
  border-radius: 8px;
  position: relative;
}
#grow-your-brand .container .content-wrap{
  padding: 30px 20px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.grow-brand-img{
  width: 200px;
  height: 180px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;
}
.grow-brand-img img{
  width: 100%;
  height: 100%;
}
.grow-brand-content h3 {
  color: var(--white);
}
.grow-brand-content p {
  margin: 15px 0px 10px 0px;
  color: var(--white);
}
.grow-brand-content a {
  color: var(--white);
}
.grow-brand-content .person-wrap {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.grow-brand-content .person-wrap img {
  width: 110px;
}
.grow-brand-content .person-wrap a {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  #grow-your-brand {
    padding-bottom: 110px;
  }
  #grow-your-brand .container .content-wrap{
    padding: 40px 50px 40px 40px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .grow-brand-content p {
    margin: 20px 0px 12px 0px;
  }
  .grow-brand-content .person-wrap {
    column-gap: 10px;
  }
  .grow-brand-img{
    width: 300px;
    height: 250px;
  }
}
@media only screen and (min-width: 1440px) {
  #grow-your-brand {
    padding-bottom: 170px;
  }
  #grow-your-brand .container .content-wrap{
    padding: 64px 91px 64px 71px;
  }
  .grow-brand-content p {
    margin-bottom: 25px 0px 15px 0px;
  }
  .grow-brand-img{
    width: 420px;
    height: 350px;
  }
}

/*
==========
footer
==========
*/
footer {
  background-color: var(--black);
  padding: 50px 0px;
}
footer .container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 25px;
}
footer .container ul {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
footer .social-wrap p {
  margin: 10px 0px 15px 0px;
  color: var(--gray);
}
footer .social-wrap ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 5px;
}
footer .social-wrap ul li {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--darkgreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-wrap ul li a {
  color: var(--gray);
  font-size: 16px;
}
footer ul h5 {
  margin-bottom: 5px;
}
footer .container ul li a {
  color: var(--gray);
}
.create-by-love {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 15px;
  margin-top: 40px;
}
.create-by-love .img-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-by-love .img-wrap img {
  width: 22px;
}
.create-by-love p {
  color: var(--white);
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 60px 0px;
  }
  footer .container {
    flex-flow: row wrap;
    column-gap: 80px;
    row-gap: 40px;
  }
  footer .container ul {
    row-gap: 15px;
  }
  footer .social-wrap p {
    margin: 15px 0px 20px 0px;
  }
  .create-by-love {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1440px) {
  footer {
    padding: 80px 0px;
  }
  footer .container ul {
    row-gap: 20px;
  }
  footer .social-wrap p {
    margin: 25px 0px 30px 0px;
  }
  .create-by-love {
    margin-top: 90px;
  }
  .create-by-love .img-wrap {
    width: 56px;
    height: 56px;
  }
  .create-by-love .img-wrap img {
    width: 24px;
  }
}

/* 
=========== 
Top Link 
===========
*/
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
/* Show Link js */
.show-link {
  visibility: visible;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .top-link {
    bottom: 3rem;
    right: 3rem;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
